
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Id</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var obj in Model)
    {
            <tr>
                <td scope="col">@obj.Name</td>
                <td scope="col">@obj.UniqueId</td>
            </tr>
    }
    </tbody>
</table>