@{
    ViewData["Title"] = "Subject information";
    Layout = "Simple";
}

<h1>@ViewData["Title"]</h1>
<strong>From partial view</strong>

@foreach (var subject in Model)
{
    <partial name="SubjectSimple" model="subject"/>
}

<p><i>@ViewBag.Date</i></p>

